body {
    background-color: #000000;
}

#backButton {
    margin: 0 10px 0 0;
    background-color: #f77;
    font-size: 18px;
    float: left;
}

#scoreText {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#startButton {
    font-size: 40px;
    border-radius: 5px;
    background-color: #f77;
    color: #fdd;
    position: absolute;
    top: 200px;
    left: 58px;
}